@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}
.nav_items > ul {
  padding-inline: 1rem;
}

.nav_items > ul:hover {
  color: #424549;
  cursor: pointer;
}
.dropdown {
  @apply fixed right-0 top-20 mt-3 w-full p-5 rounded-lg bg-white min-w-[210px] flex flex-col gap-2 justify-end items-center;
}

/* px-4 hover:text-slate-300 hover:cursor-pointer */
